.container{
    perspective: 2000px;
    width: 190px;
    height: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div,img{
    position: absolute;
}

html, body,
.stage{
   overflow: hidden;
   background-color: #000;
}